.header_container-parent{
    background-color: #fff;
    min-height: 3.2rem;
}

.header_container{
    margin: auto;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
}
.header_logo{
    color: #e3b32d;
    font-weight: bold;
    font-size: large;
    font-family: 'Quicksand';
}

.header_navbar{
    display: flex;
    flex-direction: row;
    width: 45%;
    justify-content: space-around;
    cursor: pointer;
}

.header_navbar a {
    text-decoration: none;
    color: #707070;
}

.header-cart-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 13%;
}

.header-cart{
    margin-top: -0.29rem;
}

.order-button{
    background-color: #e3b32d;
    color: #fff;
    border-color:transparent;
    padding: 10px;
    border-radius: 5px;
    margin-top: -10px;
    font-weight: bold;
    cursor: pointer;
}
.order-button:hover{
    background-color: #707070;
}

@media screen and (max-width:600px) {
    .header_container-parent{
        display: none;
    }   
}

@media screen and (max-width:900px) {
    .header_logo{
        font-size: 0.9rem;
    }
    .header_navbar{
        width: 70%;
    }
}