.front-view {
    min-height: 25.2rem;
    background-color: #fff;
}
.home_container{
    margin: auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.home-text-header{
    font-size: 3.7rem;
    font-family: quicksand;
    padding-top: 4rem;
    font-weight: bolder;
    color: #151138;
}
.home-text-subheader{
    padding-top: 0.2rem;
    color: #707070;
    font-size: 1.7rem;
    font-family: quicksand;
}

.home-button {
    padding-top: 10px;
}
.explore-button{
    background-color: #e3b32d;
    border-color: transparent;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}

.home-fontview-image{
    /* position: relative; */
    padding-top: 2rem;
    /* right: 40px; */
    /* right: 50%; */

}

.home-fontview-image img{
    /* margin: auto; */
    width:29rem;
}

.bottomview_container-parent {
    margin: auto;
    width: 85%;
    padding-top: 1.5rem;
}

.bottomview-title {
    color: #707070;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}

.bottomview-card-container {
    padding-top: 2rem;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.card-container {
    background-color: #fff;
    min-width: 8rem;
    height: 12rem;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 1.2rem;
}
.card-image{
    padding-top: 10px;
}


.food-desc {
    font-size: 0.7rem;
    font-weight: bold;
    text-align: justify;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.food-rating{
    display: flex;
    justify-content: space-around;
}
.food-rating svg{
    padding-top: 1.7px;
}

.food-desc2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    padding: 10px;
}

.add-cart:hover {
    font-weight: 500;
    color: #e3b32d;
    text-decoration: underline;
}

/* Tablet */
@media screen and (max-width:900px){
    .home-text-header{
        font-size: 2.3rem;
    }
    .home-text-subheader{
        padding-top: 0.2rem;
        color: #707070;
        font-size: 1.3rem;
    }
    .home-fontview-image img{
        width:19rem;
    }
}

@media screen and (max-width:600px) {
    .home_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* margin: auto;
        width: 65%; */
        /* text-align: center; */
    }
    .home-text-header{
        font-size: 2.6rem;
        font-family: quicksand;
        padding-top: 2.8rem;
    }
    .home-text-subheader{
        font-size: 1.3rem;
    }
    .home-fontview-image img{
        width:15rem;
    }
}